{% load static %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Jose's Profile - Home</title>
    <link rel="shortcut icon" href="https://favicon-generator.org/favicon-generator/htdocs/favicons/2015-01-22/160567e1a77a240295ac60cf8be0f7ca.ico" type="image/x-icon">
    <link rel="icon" href="https://favicon-generator.org/favicon-generator/htdocs/favicons/2015-01-22/160567e1a77a240295ac60cf8be0f7ca.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/standardize.css' %}">
    <link rel="stylesheet" href="{% static 'css/index-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
  <body style="background-color:#f6f7eb">
    <div class="headerPage">
        {% include 'header.html' %}
    </div>
      &nbsp &nbsp &nbsp &nbsp &nbsp
      <div class="container-fluid">
        <p class="titleT" style="color:#393d3f; font-size: 24px">Reach me at:</p>
        <div class="medso" style="margin-top:-1%; margin:auto;">
          <a href="mailto:josedevian@gmail.com"><img class="mail" src="{% static 'images/mail.png' %}" style="max-width:64px; height: auto"></a>
          <a href="https://www.instagram.com/josedevian/"><img class="instagram" src="{% static 'images/instagram.png' %}" style="max-width:64px; height: auto"></a>
          <a href="https://www.linkedin.com/in/josedevian/"><img class="linkedin" src="{% static 'images/linkedin.png' %}" style="max-width:64px; height: auto"></a>
          <a href="https://www.facebook.com/josedevian/"><img class="facebook" src="{% static 'images/facebook.png' %}" style="max-width:64px; height: auto"></a>
          <a href="https://www.twitter.com/josedevian/"><img class="twitter" src="{% static 'images/twitter.png' %}" style="max-width:64px; height: auto"></a>
        </div>
        <a name="register"></a>
      </div>
      <br><br><br><br><br><br><br>
      <div style="padding-left:30%; padding-right:30%">
          <p class="titleT" style="color:#393d3f; font-size: 20px">Subscribe to my daily mailing list!</p>
          <br>
          <form class="form" action="/action_page.php">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="First name" required>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Last name" required>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                Date of Birth:
                <input type="date" class="form-control" id="bday" max="2000-01-02" required>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                Enter your email:
                <input type="email" class="form-control" id="email" placeholder="johndoe@example.com" required>
              </div>
            </div>
            <div class="row">
              <div class="col">
                Username:
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="inputPassword5">Password:</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" required>
                <small id="passwordHelpBlock" class="form-text text-muted">
                  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                </small>
              </div>
              <div class="col">
                <label for="inputPassword5">Confirm Password:</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" required>
                <small id="passwordHelpBlock" class="form-text text-muted">Make sure your password is correct</small>
              </div>
            </div>
            <br>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" required><p class="textBody" style="font-size: 12px">I agree to receive emails from Jose's newsletter as well as promotional offers and announcements from Jose Devian.</p>
              </label>
            </div>
            <button type="submit" class="btn btn-primary custom-btn">Register</button>
          </form>
      </div>
    <div class="footerContact container-fluid">
      <p class="textFooter" style="font-size: 9px"><br>This site contains links to other Internet sites. Such links are not endorsements of any products or services in such sites, and no information in such site has been endorsed or approved by us.
      <br>TRADEMARKS: Instagram, LinkedIn, Facebook, Twitter and/or other  products referenced herein are either trademarks or registered trademarks of Instagram Inc,, LinkedIn Inc., Facebook Inc., Twitter Inc. respectively.<br>
                            Other product and company names mentioned herein may be trademarks of their respective owners.</p>
      </div>
    </div>
  </body>
</html>
