{% load static %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Jose's Profile - Home</title>
    <link rel="shortcut icon" href="https://favicon-generator.org/favicon-generator/htdocs/favicons/2015-01-22/160567e1a77a240295ac60cf8be0f7ca.ico" type="image/x-icon">
    <link rel="icon" href="https://favicon-generator.org/favicon-generator/htdocs/favicons/2015-01-22/160567e1a77a240295ac60cf8be0f7ca.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/standardize.css' %}">
    <link rel="stylesheet" href="{% static 'css/index-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  </head>
  <body style="background-color:#f6f7eb">
    <div class="headerPage">
        {% include 'header.html' %}
    </div>
    <div class="container-fluid">&nbsp &nbsp
      <p class="textBody" style="text-align: center; margin-left: auto; margin-right: auto;">&nbsp&nbsp Hello, I'm Jose. I'm 19 years old. I'm currently majoring Computer Science<br>
            at Faculty of Computer Science, University of Indonesia.  Lorem ipsum dolor<br>
            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<br>
              ut labore et dolore magna aliqua. Nisl pretium fusce id velit ut tortor pretium<br>
              viverra. Nisl purus in mollis nunc sed id semper.<br><br></p>

      <div class="row">
        <div class="col-sm-6">
          <p class="titleBody" style="text-align: right">EXPERIENCES</p>
          <br><br>
          <p class="textBody" style="font-weight: bold; font-size: 19px; text-align: right;">2018</p>
          <p class="textBody" style="text-align: right">Vice Head of FLOCS<br><b>(Fun Lens of Computer Science)</b>
                                          <br><br>Staff of Photography and Cinematography<br><b>COMPFEST X</b>
                                          <br><br>Staff of Documentation<br><b>The 25<sup>th</sup> Computers Get Together</b>
                                          <br><br>Liaison Officer<br><b>Open House Fasilkom 2018</b></p><br>
          <p class="textBody" style="font-weight: bold; font-size: 19px; text-align: right">2017</p>
          <p class="textBody" style="text-align: right">PIC of Documentation<br><b>Gelar Karya 2017: et ceter[art]</b></p><br>
        </div>
        <div class="col-sm-6">
          <p class="titleBody" style="text-align: left">EDUCATION</p><br><br>
          <p class="textBody" style="font-weight: bold; font-size: 19px; text-align: left;"><b>2017 - now</b></p>
          <p class="textBody" style="text-align: left">Computer Science<br><b>University of Indonesia</b></p><br>

          <p class="textBody" style="font-weight: bold; font-size: 19px; text-align: left;"><b>2014 - 2017</b></p>
          <p class="textBody" style="text-align: left">SMAK 5 Penabur Jakarta</p><br>

          <p class="textBody" style="font-weight: bold; font-size: 19px; text-align: left;"><b>2011 - 2014</b></p>
          <p class="textBody" style="text-align: left">SMPK 4 Penabur Jakarta</p><br>

          <p class="textBody" style="font-weight: bold; font-size: 19px; text-align: left;"><b>2006 - 2011</b></p>
          <p class="textBody" style="text-align: left">SDK IPEKA Sunter</p><br>
        </div>
    </div>
  </div>
    <div class="footer container-fluid" style="width:100%"><p class="textFooter"><br>This site contains links to other Internet sites. Such links are not endorsements of any products or services in such sites, and no information in such site has been endorsed or approved by us.</div>
  </body>
</html>
