html, body{
  margin: 0;
  padding: 0;
}
body {
  background-color: #f6f7eb;
  font-size: 1em;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.schedule {
  text-align: center;
  margin: auto;
  font-family: 'Lato';
}

.element {
  position: relative;
  float: left;
  z-index: 0;
  width: 100%;
  height: 230px;
  background-color: #16425b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.footer {
  position: relative;
  float: left;
  z-index: 0;
  height: 50px;
  width: 100%;
  background-color: #16425b;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, .5);
}

.footerContact {
  height: 60px;
  background-color: #16425b;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, .5);
  margin-top: 50px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  border-radius: 50%;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

.btn-primary.custom-btn {
	background-color: #ff5c59;
	border-color: #ff5c59;
}

.separatorLine {
  position: relative;
  float: center;
  width: 3px;
  height: 800px;
}

.navbar {
  min-height: 60px;
}

.navbar-brand {
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
}
.navbarbg {
  background-color: #16425b;
}

a.ex1:hover, a.ex1:active {
  color: #ffacaa;
}

.titleT {
  font-family: 'Montserrat', sans-serif;
  color: #FCFFF7;
  text-align: center;
}

.subtitleT {
  font-family: 'Montserrat', sans-serif;
  color: #FCFFF7;
  text-align: center;
  opacity: 0.75;
}

.textBody {
  font-family: 'Lato', sans-serif;
  color: #393d3f;
  text-align: left;
}

.titleBody {
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  text-align: center;
  color: #393d3f;
  font-size: 21px;
}

.textFooter {
  font-family: 'Lato', sans-serif;
  color: #FCFFF7;
  text-align: center;
  font-size: 10px;
  font-weight: 100;
}

.container {
  float: left;
  width: 27.25%;
  height: 191px;
  margin: 182px 0 0 20.83073%;
}
/*
.instagram {
  display: block;
  position: relative;
  float: left;
  z-index: 2;
  margin: 50px 0 0 3.16667%;
  overflow: hidden;
}

.linkedin {
  display: block;
  position: relative;
  float: left;
  z-index: 4;
  margin: 50px 0 0 3.16667%;
  overflow: hidden;
}

.mail {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 3;
  margin: 50px 0 0 30.41667%;
  overflow: hidden;
}

.facebook,
.twitter {
  display: block;
  float: left;
  margin: 50px 0 0 3.16667%;
  overflow: hidden;
} */

.medso {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 30%;
  padding-right: 30%;
}

.frame {
  flex: 1;
}

.text-box {
  flex: 2;
}

.flex-vid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.video-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.frame {
  margin-right: 10%;
}

@media screen and (max-width: 768px) {
  .row iframe {
    margin-left: 0%;
  }

  .video-group {
    flex-direction: column;
  }

  .flex-vid {
    align-items: center;
  }

  p {
    margin-left: 0;
  }
}
