{% extends 'schedule.html' %}
{% load static %}

{% block content %}
&nbsp &nbsp
<div class = "schedule">
    What's your plan?
</div>
<div class = "schedule2">
    <form method = "POST" action="{% url 'post_jadwal' %}">
        {% csrf_token %}

        {{message_form.as_p}}

        <br>
        <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>
{% endblock %}
