{% load static %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Jose's Profile - Home</title>
    <link rel="shortcut icon" href="https://favicon-generator.org/favicon-generator/htdocs/favicons/2015-01-22/160567e1a77a240295ac60cf8be0f7ca.ico" type="image/x-icon">
    <link rel="icon" href="https://favicon-generator.org/favicon-generator/htdocs/favicons/2015-01-22/160567e1a77a240295ac60cf8be0f7ca.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/standardize.css' %}">
    <link rel="stylesheet" href="{% static 'css/index-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  </head>
  <body style="background-color:#f6f7eb">
    <div class="headerPage">
        {% include 'header.html' %}
    </div>
    <div class = "schedule">
        Jose's Schedule
    </div>
        <form id = "scheduleform" action="{% url 'jadwal_submission' %}">
            <button type="submit" class="submit btn btn-default">Add Event</button>
        </form>
            <div class = "table">
                    <table style = "font-weight: bold; width:100%">
                        {% if jadwal %}
                        <tr>
                            <th>Name</th>
                            <th>Day</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Venue</th>
                            <th>Category</th>
                        </tr>

                {% for jadwal_data in jadwal %}
                    <tr>
                    <td>{{ jadwal_data.nama }}</td>
                    <td>{{ jadwal_data.hari }}</td>
                    <td>{{ jadwal_data.tanggal }}</td>
                    <td>{{ jadwal_data.jam }}</td>
                    <td>{{ jadwal_data.tempat }}</td>
                    <td>{{ jadwal_data.kategori }}</td>
                    </tr>
                {% endfor %}

                {% else %}
                <p>There's no activity</p>
                {% endif %}
                </table>
                </div>

            <div class = "row">
            <div class = "col-6">
            <form id = "scheduleform" action="{% url 'delete_response' %}">
                <button type="submit" class="submit btn btn-default">Delete All</button>
            </form>
        </div>
    </div>
