{% load static %}
<!doctype html>
  <link rel="stylesheet" href="{% static 'css/standardize.css' %}">
  <link rel="stylesheet" href="{% static 'css/index-grid.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <nav class="navbar navbar-expand-md navbar-dark sticky-top navbarbg">
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  <!-- Links -->
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav" style="margin-right:20px; margin-top: 10px">
        <li class="nav-item">
          <a class="nav-link ex1" href="{% url 'home' %}"><p style="font-family: 'Montserrat', sans-serif; font-weight: bold; letter-spacing: 1px; color:#ff5c59;">HOME</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link ex1" href="{% url 'portofolio' %}"><p style="font-family: 'Montserrat', sans-serif; font-weight: bold; letter-spacing: 1px; color:#ff5c59;">PORTFOLIO</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}"><p style="font-family: 'Montserrat', sans-serif; font-weight: bold; letter-spacing: 1px; color:#ff5c59;">CONTACT</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link ex1" href="{% url 'post_jadwal' %}"><p style="font-family: 'Montserrat', sans-serif; font-weight: bold; letter-spacing: 1px; color:#ff5c59;">SCHEDULE</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link ex1" href="{% url 'contact' %}#register"><p style="font-family: 'Montserrat', sans-serif; font-weight: bold; letter-spacing: 1px; color:#ff5c59;">REGISTER</p></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="element">
    <img class="image" src="{% static 'images/profile.jpg' %}">
    <br>
    <h4 class="titleT">Jose Devian Hibono</h4>
    <h6 class="subtitleT">Jakarta, 2 December 1998</h6>
  </div>
