{% load static %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Jose's Profile - Home</title>
    <link rel="shortcut icon" href="https://favicon-generator.org/favicon-generator/htdocs/favicons/2015-01-22/160567e1a77a240295ac60cf8be0f7ca.ico" type="image/x-icon">
    <link rel="icon" href="https://favicon-generator.org/favicon-generator/htdocs/favicons/2015-01-22/160567e1a77a240295ac60cf8be0f7ca.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/standardize.css' %}">
    <link rel="stylesheet" href="{% static 'css/index-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body style="background-color:#f6f7eb">
    <div class="headerPage">
        {% include 'header.html' %}
    </div>
    
    &nbsp &nbsp &nbsp &nbsp &nbsp

    <div class="portfolio">
      <p class="titleBody" style="text-align: left; margin-left: 15%">PORTFOLIO</p>
      <br>
      <div class="video-container">
        <div class="flex-vid">
          <div class="video-group">
            <div class="frame"><iframe max-width="336" height="188" src="https://www.youtube.com/embed/ekYmjnenxb0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br><br><br></div>
            <div class="text-box"><p class="textBody"><b>COMPFEST X - Profile</b><br>Producer<br><br><br></p></div>
          </div>
          <div class="video-group">
            <div class="frame"><iframe max-width="336" height="188" src="https://www.youtube.com/embed/200w2-cVap4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br><br><br></div>
            <div class="text-box"><p class="textBody"><b>Pesta Rakyat Dentoem Dansa<br>The 25<sup>th</sup> CGT Official Aftermovie</b><br>Producer<br><br><br><br></p></div>
          </div>
          <div class="video-group">
            <div class="frame"><iframe max-width="336" height="188" src="https://www.youtube.com/embed/hfO7VgP-94c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br><br><br></div>
            <div class="text-box"><p class="textBody"><b>&&</b><br>Camera Person</p></div>
        </div>
        </div>
    </div>

    <div class="container-fluid">
      <div class="footer"><p class="textFooter"><br>This site contains links to other Internet sites. Such links are not endorsements of any products or services in such sites, and no information in such site has been endorsed or approved by us.</div>
    </div>
  </body>
</html>
